<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Website Express Example</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container">
        <h1>Welcome to the About Page</h1>
        <nav>
            <a href="index.html">Home</a>
            <a href="#">About</a>
        </nav>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus alias labore voluptatum minima commodi
            temporibus! Neque dolorum necessitatibus porro voluptas cupiditate fugiat cumque ea adipisci nam quae!
            Itaque, ullam magnam!</p>
</body>
</div>

</html>